@media (max-width:800px) {

    #mobilecontainer{
        display:grid;
        margin:0;
        gap:0;
        width:100vw;
        min-height: 100vh;
        grid-template-columns: 1% 1fr 1%;
        grid-template-rows: 1fr 1fr 6fr 6fr 6fr 6fr 6fr 6fr 1fr;
    
        grid-template-areas:
        ". Mheader ."
        ". Mnav ."
        ". Mside1 ."
        ". Mcontent1 ."
        ". Mcontent2 ."
        ". Mside2 ."
        ". Mcontent3 ."
        ". Mcontent4 ."
        ". Mfooter .";
    }


    #mobileheader{
        grid-area:Mheader;
    }

    #mobilenav{
        grid-area:Mnav;
        justify-content: center;
    }

    #mobileaside1{
        grid-area:Mside1;
    }

    #mobilecontent1{
        grid-area:Mcontent1;
        
    }

    #mobilecontent2{
        grid-area:Mcontent2;
    }

    #mobileaside2{
        grid-area:Mside2;
    }

    #mobilecontent3{
        grid-area:Mcontent3;
    }

    #mobilecontent4{
        grid-area:Mcontent4;
    }

    #mobilefooter{
        grid-area:Mfooter;
    }

 }