@import "mobile.css";

:root{
    --primary-color:#FF6B6B;
    --secondary-color:#FFE66D;
    --accent-color:#4ECDC4;
}

.container{
    display:grid;
    width:100vw;
    min-height: 100vh auto;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 6fr 6fr 1fr;

    grid-template-areas:
    ". header header header ."
    ". nav nav nav ."
    ". side1 content1 content2 ."
    ". side2 content3 content4 ."
    ". footer footer footer .";
}

.containerK{
    display:grid;
    width:100vw;
    min-height:100vh auto;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-auto-rows:minmax(60px, auto);

    grid-template-areas:
    ". header header header ."
    ". nav nav nav ."
    ". main main main ."
    ". footer footer footer .";
}

header{
    grid-area:header;
    background-color: var(--secondary-color);
    border: 1px solid black;
}

header h1{
    text-align: center;
}

nav{
    grid-area:nav;
    display:flex;
    background-color: var(--primary-color);
    border: 1px solid black;
    justify-content:space-evenly;
    align-items:center;
}

.aside1{
    grid-area:side1;
    background-color:var(--primary-color);
    border: 1px solid black;
}

.aside2{
    grid-area:side2;
    background-color: var(--primary-color);
    border: 1px solid black;
}

.content1{
    grid-area:content1;
    display:flex;
    background-color: var(--primary-color);
    border: 1px solid black;
    flex-wrap:wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.content1 img{
    height:100%;
    width:100%;
    cursor:pointer;
    z-index: 2;
}

.content1 img:hover + p{
    visibility: visible;
    opacity:1;
}

.content1 p{
    position:absolute;
    color:rgb(0, 0, 0);
    height:min-content;
    max-width:100%;
    visibility: hidden;
    opacity:0;
    z-index: 3;
    transition: 0.5s ease;
    font-size:20px;
}

.content2{
    grid-area:content2;
    background-color:var(--primary-color);
    border: 1px solid black;
}

.content3{
    display:flex;
    grid-area:content3;
    background-color: var(--primary-color);
    border: 1px solid black;
    flex-wrap:wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.content3 img{
    width:100%;
    height:100%;
    cursor: pointer;
    z-index: 2;
}

.content3 img:hover + p{
    visibility: visible;
    opacity:1;
}

.content3 p{
    position:absolute;
    color:white;
    height:min-content;
    width:fit-content;
    visibility: hidden;
    opacity:0;
    z-index: 3;
    transition: 0.5s ease;
    font-size:20px;
}

.content3 p:hover{
    visibility: visible;
    opacity:1;
}


.content4{
    grid-area:content4;
    background-color: var(--primary-color);
    border: 1px solid black;
}

footer{
    grid-area:footer;
    background-color: var(--secondary-color);
    border: 1px solid black;
}

nav .Hem{
    height:100%;
    width:100%;
    border:1px solid black;
    text-align:center;
    text-decoration: none;
    color:black;
    transition:0.3s;
}

nav .Hem:hover{
    font-size:larger;
    font-weight:bold;
}

nav .Spel{
    height:100%;
    width:100%;
    border:1px solid black;
    text-align:center;
    text-decoration: none;
    color:black;
    transition:0.3s;
}

nav .Spel:hover{
    font-size:larger;
    font-weight:bold;
}

nav .Kontakt{
    height:100%;
    width:100%;
    border:1px solid black;
    text-align:center;
    text-decoration: none;
    color:black;
    transition:0.3s;
}

nav .Kontakt:hover{
    font-size:larger;
    font-weight:bold;
}

.mainK{
    grid-area:main;
    background-color: var(--primary-color);
    display:grid;
    height:60vh;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
}

.kontaktForm{
    grid-area: 2/1;
    padding:50px;
}

.Förnamn{
    margin:10px;
}

.Anledning{
    margin:10px;
}

.kontaktForm .Text textarea{
    border-radius:5px;
    margin:10px;
    max-width:70vw;
    max-height:40vh;
}

.kontaktForm .SubmitKnapp input{
    border-radius:5px;
    margin:10px;
}