@import "mobile.css";

.container{
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 6fr 6fr 1fr;

    grid-template-areas:
    ". header header header ."
    ". nav nav nav ."
    ". side1 content1 content2 ."
    ". side2 content3 content4 ."
    ". footer footer footer .";
}

header{
    grid-area:header;
    background-color: #c8f3c8;
    border: 1px solid black;
}

nav{
    grid-area:nav;
    display:flex;
    background-color: #FF6B6B;
    border: 1px solid black;
    justify-content:space-evenly;
    align-items:center;
}

.aside1{
    grid-area:side1;
    background-color:#FFE66D;
    border: 1px solid black;
}

.aside2{
    grid-area:side2;
    background-color: #FFE66D;
    border: 1px solid black;
}

.content1{
    grid-area:content1;
    background-color: #FF6B6B;
    border: 1px solid black;
}

.content2{
    grid-area:content2;
    background-color:#4ECDC4;
    border: 1px solid black;
}

.content3{
    grid-area:content3;
    background-color: orange;
    border: 1px solid black;
}

.content4{
    grid-area:content4;
    background-color: #FF6B6B;
    border: 1px solid black;
}

footer{
    grid-area:footer;
    background-color: #4ECDC4;
    border: 1px solid black;
}

nav ul{
    list-style-type: none;
    margin:0;
    overflow:hidden;
    
}

nav li{
    float:left;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    border-radius:10px;
}
