@import "mobile.css";

:root{
    --primary-color:#FF6B6B;
    --secondary-color:#FFE66D;
    --accent-color:#4ECDC4;
}

.container{
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 6fr 6fr 1fr;

    grid-template-areas:
    ". header header header ."
    ". nav nav nav ."
    ". side1 content1 content2 ."
    ". side2 content3 content4 ."
    ". footer footer footer .";
}

header{
    grid-area:header;
    background-color: var(--secondary-color);
    border: 1px solid black;
}

header h1{
    text-align: center;
}

nav{
    grid-area:nav;
    display:flex;
    background-color: var(--primary-color);
    border: 1px solid black;
    justify-content:space-evenly;
    align-items:center;
}

.aside1{
    grid-area:side1;
    background-color:var(--primary-color);
    border: 1px solid black;
}

.aside2{
    grid-area:side2;
    background-color: var(--primary-color);
    border: 1px solid black;
}

.content1{
    grid-area:content1;
    background-color: var(--primary-color);
    border: 1px solid black;
}

.content2{
    grid-area:content2;
    background-color:var(--primary-color);
    border: 1px solid black;
}

.content3{
    grid-area:content3;
    background-color: var(--primary-color);
    border: 1px solid black;
}

.content4{
    grid-area:content4;
    background-color: var(--primary-color);
    border: 1px solid black;
}

footer{
    grid-area:footer;
    background-color: var(--secondary-color);
    border: 1px solid black;
}

nav .Hem{
    height:100%;
    width:100%;
    border:1px solid black;
    text-align:center;
    text-decoration: none;
    color:black;
}

nav .Spel{
    height:100%;
    width:100%;
    border:1px solid black;
    text-align:center;
    text-decoration: none;
    color:black;
}

nav .Kontakt{
    height:100%;
    width:100%;
    border:1px solid black;
    text-align:center;
    text-decoration: none;
    color:black;
}
